/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.prod
.env.local
.env.vm
.env.xampp
Envoy.blade.php
.htaccess
.htaccess2
.user.ini
.user.ini.2017-06-29.bak.txt
composer.phar
composer.lock